@charset "UTF-8";

@font-face {
  font-family: "app-icons";
  src:url("fonts/app-icons.eot");
  src:url("fonts/app-iconsd41d.eot?#iefix") format("embedded-opentype"),
    url("fonts/app-icons.woff") format("woff"),
    url("fonts/app-icons.ttf") format("truetype"),
    url("fonts/app-icons.svg#app-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}
.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
	
.img1{
opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    }

.img1:hover {
opacity: 0.3;
    filter: alpha(opacity=40); /* For IE8 and earlier */
	color: red;
}

[data-icon]:before {
  font-family: "app-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "app-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-app-store:before {
  content: "\e000";
}
.icon-ionicons:before {
  content: "\e000";
}
.icon-google-play:before {
  content: "\e001";
}
.icon-app-download:before {
  content: "\e002";
}
.icon-ionicons-2:before {
  content: "\e002";
}
